.custom-calendar {
    padding: 40px;
    margin: 0; /* Entfernt zusätzliches Margin */
    border: none;
    font-family: 'Arial', sans-serif;
    color: #e2dede;
    background: linear-gradient(90deg, rgb(38, 7, 178) 7%, rgb(66, 32, 168) 49%, rgb(5, 11, 89) 100%); /* Silbergrauer Verlauf */
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(242, 238, 238, 0.4); /* Heller Schatten */
    width: 100%; /* Sorgt dafür, dass der Kalender die volle Breite innerhalb der Box einnimmt */
    max-width: 100%; /* Entfernt mögliche Beschränkungen der maximalen Breite */
}

.custom-calendar .react-calendar__navigation button {
    color: #e7e5e4;
    background: linear-gradient(9deg, rgb(22, 16, 130) 0%, rgb(67, 67, 216) 45%);
    border-radius: 8px;
    margin: 3px;
    font-weight: bold;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.custom-calendar .react-calendar__navigation button:hover {
    background-color: #15123b;
}

.custom-calendar .react-calendar__tile {
    border-radius: 20px;
    background: #a2b2e800;
    padding: 10px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.custom-calendar .react-calendar__tile--now {
    background: #069ced78;
    color: white;
    border-radius: 10px;
}

.custom-calendar .react-calendar__tile--active {
    background: #011a6a;
    box-shadow: #e2dede 0px 0px 0px 2px;
    color: #e7e5e4;
    border-radius: 10px;
}

.custom-calendar .react-calendar__tile--active:hover,
.custom-calendar .react-calendar__tile--active:focus {
    background: #05378384;
}

.custom-calendar .react-calendar__tile--weekend {
    background-color: #600505;
}

.custom-calendar .react-calendar__month-view__days__day--sunday,
.custom-calendar .react-calendar__month-view__days__day--holiday {
    color: red;
}

.custom-calendar .react-calendar__month-view__days__day--saturday {
    color: white;
}

.custom-calendar abbr[title] {
    text-decoration: none;
    color: white;
}
